
.container {
    display: grid;
    grid-template-rows: 80px auto 1fr 50px;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100vh;
    grid-template-areas:
        "header     header      header"
        "left-aside banner      right-aside"
        "left-aside main        right-aside"
        "footer     footer      footer";
    grid-gap: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}


.animal-display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

/* full height and space evently */
.animal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15vw;
    height: 25vh;
}

.header {
    grid-area: header;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-aside {
    grid-area: left-aside;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-aside {
    grid-area: right-aside;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    grid-area: banner;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main {
    grid-area: main;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer {
    grid-area: footer;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}