@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:wght@300&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); 

* {
    box-sizing: border-box;
}


:root {
    --text-color: #adadad;
    --border-color: #f4f4f4;
    --input-color: #2c2c2c;
    --button-color: rgb(88, 88, 88);
    --button-hover: rgb(57, 57, 57);
    --container-background: rgba(255, 255, 255, 0.2);
    --container-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    --font: 'Lato', sans-serif;
}

html {
    font-family: var(--font);
}

body {
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    color: var(--text-color);
    text-align: center;
}