/* Mobile Responsive Layout */
@media (max-width: 678px) {
    .container {
        grid-template-rows: 50px 50px 50px 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "banner"
            "left-aside"
            "main"
            "right-aside"
            "footer";
    }
    .animal-display {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
    .animal-box {
        height: 5vh;
        width: 33vw;
    }
}
